body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #e6e6e6;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.btn {
  padding: 9px 20px !important;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.loading {
  text-align: center;
}
/**
  * NAVBAR STYLING
  */
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #0f5454;
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.item {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.right-menu {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.login {
  background-color: #85ffc7;
  font-size: 0.8em;
  color: black;
}

.logout {
  background-color: #cc3227;
  font-size: 0.8em;
}

.signup {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  font-size: 0.7em;
  padding: 8px 8px;
}

.left,
.profile {
  padding: 4px 4px;
}

/**
  * POST STYLING
  */
.post-container {
  background-color: #a4b9b9;
  padding: 30px;
  margin-left: 5%;
  margin-right: 5%;
}
.post-content {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  background-color: #e6e6e6;
  cursor: pointer;
  border-radius: 5px;
}

.user {
  font-weight: 600;
}

.post-content p {
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 0px;
}

.description {
  font-style: italic;
}

.post {
  display: flex;
}
/**
  * Form Styling
  */
.new-post-container {
  margin-bottom: 50px;
  text-align: center;
}

.remove {
  background-color: #cc3227;
  color: white;
  margin: 25px;
}

.search {
  text-align: center;
  margin-bottom: 20px;
}

.search-form {
  border-radius: 20px;
  height: 20px;
  width: 50vw;
  max-width: 600px;
}

.search-font {
  font-size: 1.3em;
}

.post-page-container {
  margin-left: 10%;
  margin-right: 10%;
}
